.header-container{
  margin: 1rem;
  padding: 0rem 1rem;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7rem;
}

.div-form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
